* {
  margin: 0;
  padding: 0;
}

:root {
  --dark:  #25273D;
  --dark-black: #171823;
  --dark-text: #C8CBE7;
  --white: #FFFFFF;
  --white-text: #494C6B;
  --white-dim-text: #9495A5;
}

@font-face {
  font-family: Josefin Sans;
  src: url(/fonts/JosefinSans-VariableFont_wght.ttf);
}

.container {
  max-width: 50vw;
  margin: 0 auto;
}

.header__background {
  background-image: url(../images/bg-desktop-light.jpg);
  width: 100vw;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__background .main {
  font-family: Josefin Sans;
  padding-top: 70px;
}

.header__background .main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__background .main .title .title__name {
  margin-bottom: 40px;
}

.header__background .main .title .title__name p {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  text-transform: uppercase;
  color: var(--white);
}

.header__background .main .title .title__logo {
  cursor: pointer;
}

.header__background .main .main__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  width: 100%;
  height: 64px;
  border-radius: 10px;
  color: var(--white-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.header__background .main .main__input:nth-child(1) {
  margin-top: 45px;
}

.header__background .main .main__input .main__input-check {
  margin-left: 24px;
}

.header__background .main .main__input .main__input-check img {
  width: 24px;
}

.header__background .main .main__input .input {
  margin-left: 24px;
  width: 1500px;
}

.header__background .main .main__input .input input {
  font-family: Josefin Sans;
  border: none;
  outline: none;
  background-color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: var(--dark);
  width: 90%;
}

.header__background .main .main__input .enter {
  margin-right: 24px;
}

.header__background .main .main__input .delete {
  cursor: pointer;
  margin-right: 24px;
}

.header__background .main .content {
  -webkit-box-shadow: 2px 3px 40px #d2d3db;
          box-shadow: 2px 3px 40px #d2d3db;
  margin-top: 45px;
}

.header__background .main .content .main__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  width: 100%;
  height: 64px;
  border-radius: 10px;
  color: var(--white-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.header__background .main .content .main__input .main__input-check {
  margin-left: 24px;
}

.header__background .main .content .main__input .main__input-check img {
  width: 24px;
}

.header__background .main .content .main__input .input {
  margin-left: 24px;
  width: 1500px;
}

.header__background .main .content .main__input .input input {
  font-family: Josefin Sans;
  border: none;
  outline: none;
  background-color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: var(--dark);
  width: 90%;
}

.header__background .main .content .main__input .delete {
  cursor: pointer;
  margin-right: 24px;
}

.header__background .main .content .show {
  display: block;
}

.header__background .main .content .hide {
  display: none;
}

.header__background .main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  width: 100%;
  height: 60px;
  font-family: Josefin Sans;
  color: var(--white-dim-text);
  border-radius: 10px;
}

.header__background .main section .section__left span {
  color: var(--dark-dim-text);
}

.header__background .main section .section__center {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-right: 10px;
}

.header__background .main section .section__center span {
  color: var(--dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.header__background .main section .section__right {
  cursor: pointer;
}

.header__background footer {
  color: var(--dark-dim-text);
  font-family: Josefin Sans;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90vw;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */