* {
    margin: 0;
    padding: 0;
}
:root {
    --dark:  #25273D;
    --dark-black: #171823;
    --dark-text: #C8CBE7;

    --white: #FFFFFF;
    --white-text: #494C6B;
    --white-dim-text: #9495A5;
}

@font-face {
    font-family: Josefin Sans;
    src: url(/fonts/JosefinSans-VariableFont_wght.ttf);
}
body {
    
}
.container {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 50px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.header__background {
    background-image: url(/images/bg-desktop-light.jpg);
    width: 100vw;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .main {
        // max-width: 800px;
        font-family: Josefin Sans;
        padding-top: 70px;
        .title {
            display: flex;
            justify-content: space-between;
            .title__name {
                margin-bottom: 40px;
                p {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 40px;
                    letter-spacing: 15px;
                    text-transform: uppercase;
                    color: var(--white);
                }
            }
            .title__logo {
                cursor: pointer;
            }
        }
        .main__input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--white);
            width: 100%;
            height: 64px;
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
            border-radius: 5px;
            &:nth-child(1) {
                margin-top: 45px;
            }
            .main__input-check {
                margin-left: 24px;
                img {
                    width: 24px;
                }
            }
            .input {
                margin-left: 24px;
                width: 1500px;               
                input {
                    font-family: Josefin Sans;
                    border: none;
                    outline: none;
                    background-color: var(--white   );
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 18px;
                    letter-spacing: -0.25px;
                    color: var(--dark);
                    width: 90%;
                    
                }
            }
        }
        section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: var(--white);
            width: 100%;
            height: 60px;
            font-family: Josefin Sans;
            color: var(--white-dim-text);
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
            border-radius: 5px;
            margin-top: 10px;
            .section__left {               
               span {
                color: var(--dark-dim-text);
               }
            }
            .section__center {               
                width: 200px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;                
                span {
                    color: var(--dark);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 14px;
                }
            }
            .section__right {
               cursor: pointer;
            }
        }
    }
    footer {
        color: var(--dark-dim-text);
        font-family: Josefin Sans;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 20px;
    }
}